<div class = "container">
        <h2 class = "text-center"><em>W</em>elcome to Jenny's Hair Salon</h2>
        <div class="mt-4"><h5><b>Jenny's Contact</b>  <hr/></h5></div>
        <div class = "row">
            <div class = "col-lg-1 col-md-1 col-sm-1"><b><u>Mobile: </u></b></div>
            <div class = "col-lg-11 col-md-11 col-sm-11 ">0425286085</div>
            <div class = "col-lg-1 col-md-1 col-sm-1 mt-2"><b><u>Email: </u></b></div>
            <div class = "col-lg-11 col-md-11 col-sm-11 mt-2"><a href="#" class="text-secondary">jennyshairsalon47@gmail.com</a></div>
        </div>

        <div class="mt-5"><h5><b>Jenny's Address </b> <hr/></h5></div>
        <div class = "row">
            <div class = "col-lg-1 col-md-1 col-sm-1"><b><u>Address:</u></b> </div>
            <div class = "col-lg-3 col-md-3 col-sm-3"><p>47 Newline Road</p><p>West Pennant Hill NSW 2125 </p><p>Australia</p></div>
            <!-- <div class = "col-lg-1 col-md-1 col-sm-1"></div> -->
            <div class = "col-lg-5 col-md-5 col-sm-5"><img src="../../assets/Images/Maps/Home.PNG" alt="thumbnail" class="img-thumbnail overlay z-depth-1-half"
                ></div>

        </div>

 
        <div class="mt-5"><h5><b>Jenny's Shop </b> <hr/></h5></div>
        <div class = "row">
            <div class="col-lg-3 col-md-3 col-sm-3 mb-4">
                <div class="card z-depth-1-half">
                    <div class="view overlay">
                    <img src="../../assets/Images/Shop/shop01.jpg" class="card-img-top"
                        alt="">
                        <div class="mask rgba-white-slight"></div>
                    </div>
                    <div class="card-body">
                    <p class="card-text text-center" >Front</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-4">
                <div class="card z-depth-1-half">
                    <div class="view overlay">
                    <img src="../../assets/Images/Shop/shop02.jpg" class="card-img-top"
                        alt="">
                        <div class="mask rgba-white-slight"></div>
                    </div>
                    <div class="card-body">
                    <p class="card-text text-center" >Back</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-4">
                <div class="card z-depth-1-half">
                    <div class="view overlay">
                    <img src="../../assets/Images/Shop/shop03.jpg" class="card-img-top"
                        alt="">
                        <div class="mask rgba-white-slight"></div>
                    </div>
                    <div class="card-body">
                    <p class="card-text text-center" >Back</p>
                    </div>
                </div>
            </div>
        </div>
</div>
