h1 .hthree {
    position: relative;
    top: 0.2em;
    left: 10.5em;
    font-size: 12px;
    letter-spacing: 2px;
    color: pink;
  }

  em {
    font-style: normal;
    color: pink;
    padding-right: 3px;
    font: 50px Keaton, "Arial Narrow", "Tahoma", arial, sans-serif;
    font-style: italic;
  }